/*---------------------------------/content/----------------------------------*/

.content {
  width: auto;
  overflow: auto;
}
.content_def {
  margin-bottom: 50px;
  margin: 1em 14.3vw;
  width: auto;
  overflow: auto;
}
.title img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}
.title h1 {
  display: block;
  text-align: center;
  margin-top: 0.5em;
}
.content_def button {
  background-color: #f16521;
}
.content_def h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: #f16521;
}
.content_def h3 {
  margin-top: 3em;
  margin-bottom: 1.5em;
  display: block;
  text-align: left;
  color: #f16521;
  font-weight: normal;
}
.enterbtn {
  width: 100%;
  padding: 1em 10em;
  margin: 1em 0;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  box-sizing: border-box; /*Verificar como se mantem o tamanho no page resize*/
}
.change_psw input {
  width: 100%;
  padding: 0.5em;
  display: inline-block;
  box-sizing: border-box;
  margin: 0.5em 0 2em 0;
}
