/*--- MENU ---*/

.header_center {
  width: auto;
  overflow-x: hidden;
  margin-top: 10px;
}
.menu_wrapper {
  width: auto;
  overflow: auto;
  margin: 0 auto;
  list-style: none;
  background-color: #f16521;
  border-radius: 5px;
}
.menu_wrapper ul {
  margin: auto;
  padding: 0;
}
.menu_wrapper ul li {
  width: 24.7%;
  font-size: 20px;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  transition: background .5s;
  text-align: center;
  border-right: 2px solid black;
}
.menu_wrapper ul li:hover {
  background: #000;
  color: #f16521;
  cursor: pointer;
  transition: background .5s;
}
.menu_wrapper ul li:hover a {
  color: #f16521;
}

.menu_wrapper ul li a {
  text-decoration: none;
  color: black;
}
.menu_wrapper ul .last {   /*-- "Doces" --*/
  border-right: none;
}

/*--- Pesquisa ---*/

.header_bottom {
  width: auto;
  overflow: auto;
}
.search {
  margin: 1em 0 0 1em;
}
.search input {
  border-radius: 5px;
  width: 40%;
}
