/*---------------------------------/footer/-----------------------------------*/
.footer {
  overflow: auto;
  background-color: #000;
  margin-top: 200px;
}
.made {
  margin: auto;
  padding-top: 10px;
  color: #f16521;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
}
.workers {
  margin: auto;
  padding-top: 10px;
  color: #fff;
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
}
